

.navlink {
  color: red
}

.signup-errors {
  font-size: small;
  color: red;
}


.post-card {
  background-color: green;
  margin-top: 40px;
  font-size: large;
}

.comments-card {

}

.comment {
  font-size: medium;
  
}

.who-liked {
  font-size: small;
}

.avatar {
  margin-top: 50px;
  border-radius: 50%;
  width: 100px;
}