

.navlink {
  margin-left: 50px;
  align-items: center;
  font-size: x-large;
  transition: .3s;
}

.navlink:hover {
  background-color: rgb(219, 221, 219);
}


.signup-errors {
  font-size: small;
  color: red;
}


.post-card {
  background-color: rgb(219, 221, 219);
  margin-top: 40px;
  font-size: large;
  margin: auto;
  margin-left: 150px;
  width: 800px;
  border-radius: 10px;
  margin-top: 25px;
  position: relative
}


.who-liked {
  font-size: small;
}

.avatar {
  margin-top: 50px;
  border-radius: 50%;
  width: 100px;
}

.profile-avatar {
  border-radius: 50%;
  width: 200px;
  margin-left: 45%;
  margin-top: 100px;
  border-style: groove;
}

.new-bio {
  width: 500px;
  height: 100px;
}

.avatar-group-member {
  margin-top: 20px;
  border-radius: 50%;
  margin-left: 10px;
  width: 35px;
  border-style: groove;
}

.header-title {
  margin-top: 0px;
  top: 0px;
  position: relative;
  font-size: x-large;
}

.header {
  margin-top: 25px;
  margin-left: 50px;

}

.logout-button {
  color: black;
  background-color: rgb(219, 221, 219);
  transition: 0.3s;
  margin-left: 375px;
  top: 60px;
  position: absolute;
}

.logout-button:hover {
  color: white;
  background-color: rgb(245, 99, 99);
}

.App-header {
  max-width: fit-content;
  overflow-x: hidden;
}

.post-username {
  font-size: medium;
  margin-left: 10px;
}

.post-text {
  margin-left: 20px;
}

.post-delete {
  width: 30px;
  height: 30px;
  font-size: small;
  top: 5px;
  left: 765px;
  position: absolute;
  border-radius: 10px;
  transition: .3s;
}

.post-delete:hover {
  color: white;
  background-color: rgb(245, 99, 99);
}

.post-edit {
  width: 30px;
  height: 30px;
  font-size: small;
  top: 5px;
  left: 735px;
  position: absolute;
  border-radius: 10px;
  transition: .3s;
}

.post-edit:hover {
  color: white;
  background-color: black;
}

.post-edit-input {
  margin-left: 485px;
  top: 5px;
  position: absolute;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.like-button {
  transition: .3s;
}

.like-button:hover {
  color: green;
}

.who-liked {
  margin-left: 5px;
}

.see-comments {
  margin-bottom: 10px;
}

.comment-delete {
  width: 30px;
  height: 30px;
  font-size: small;
  margin-right:10px;
  border-radius: 10px;
  transition: .3s;
}

.comment-delete:hover {
  color: white;
  background-color: rgb(245, 99, 99);
}

.who-commented {
  margin-top: 5px;
  font-size: large;
}


.comment {
  font-size: medium;
  margin-top: 5px;
  border-style: groove;
  border-radius: 10px;
  width: 785px;
}

.home-add-post {
  margin-left: 50px;
  margin-top: 30px;
}

.posts-from {
  margin-top: 25px;
  margin-left: 50px;
  font-size: large;
}

.profile-bio {
  margin-top: 25px;
  margin-left: 460px;
  margin-bottom: 25px;
}

.see-friends {
  margin-left: 40px;
}

.login-screen {
  margin-left: 30px;
  margin-top: 30px;
}

.login-text {
  font-size: x-large;
}

.head {
  background-color: rgb(152, 152, 255);
  top: auto;
  margin-top: -25px;
  width: 100%;
}

.single-group {
  margin-left: 40px;
}

.group-button {
  margin-top: 40px;
  margin-left: 40px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

.group-message-card {
  font-size: medium;
  margin-top: 5px;
  border-style: groove;
  border-radius: 10px;
  width: 785px;
  height: 150px;
}

.group-message {
  margin-left: 30px;
  
}

.message {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  border-style: groove;
  border-radius: 10px;
}

.reply-input {

  margin-top: 20px;
}

.delete-message {
  margin-right: 10px;
  transition: .3s;
}

.delete-message:hover {
  color: white;
  background-color: rgb(245, 99, 99);
}

.message-header {
  font-size: large;
}

.conversation {
  border-style: groove;
  margin-left: 40px;
  margin-top: 40px;
}

.search {
  margin-left: 20px;
  margin-top: 20px;
}

.one-searched-user {
  margin-top: 10px;
  margin-left: 50px;
}

.message-icon {
  margin-left: 10px;
}

.other-users-data {
  margin-left: 40px;
}

.search-bar {
  margin-left: 50px;
  margin-top: 20px;
}

.messages-header {
  font-size: x-large;
  margin-left: 40px;
  margin-bottom: -30px;
}

.conversations-header {
  font-size: x-large;
  margin-left: 40px;
  margin-bottom: 0px;
}

.search-header {
  font-size: x-large;
  margin-left: 40px;
  margin-bottom: 0px;
}