

.navlink {
  color: red
}

.signup-errors {
  font-size: small;
  color: red;
}


.post-card {
  background-color: green;
  margin-top: 40px;
  font-size: large;
}

.comments-card {

}

.comment {
  font-size: medium;
  
}

.who-liked {
  font-size: small;
}

.avatar {
  margin-top: 50px;
  border-radius: 50%;
  width: 100px;
}

.profile-avatar {
  border-radius: 50%;
  width: 200px;
  margin-left: 45%;
  margin-top: 100px;
}

.new-bio {
  width: 500px;
  height: 100px;
}

.avatar-group-member {
  margin-top: 50px;
  border-radius: 50%;
  width: 35px;
}